<div class="text-center">
  <h1>made it to the page</h1>
  
  <h2>{{title}}</h2>

  <p>{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
<input type="hidden" value={{id}} id="blogid">
 {{!-- (wont show but you can query select) get the value of the content and the blogid --}}
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>



